{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "root": true,
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "browser": true,
    "commonjs": true,
    "amd": true,
    "jest": true
  },
  "rules": {
    "react/prop-types": 0,
    "semi": ["error", "always"],
    "quotes": ["error", "double"]
  }
}
